{
  "config": {
    "aggregates": "{\"Generation\":\"sum\",\"Fitness\":\"sum\"}",
    "column-pivots": "[]",
    "columns": "[\"Fitness\"]",
    "filters": "[]",
    "plugin_config": {},
    "row-pivots": "[]",
    "settings": "true",
    "sort": "[]",
    "view": "d3_y_line"
  },
  "dataFileName": "out.csv",
  "dataTable": ""
}